# Logs
*.log

# Database
*.db
*.db*

# Build
dist/

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*

# yarn
.yarn/
.yarn-integrity

# prisma generated
src/generated/

# keepers
!.env.example
!.gitkeep
!.gitignore
